/* Contenedor principal para centrar todo verticalmente */
.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem; /* Espacio entre el formulario y los datos de contacto */
    flex-direction: column;
    width: 100%;
  }
  
  /* Sección de contacto con estilo de columnas */
  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  
  /* Contenedor para la disposición de los dos elementos (formulario y datos de contacto) */
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    align-items: flex-start;
  }
  
  /* Formularios alineados a la izquierda */
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
  }

  .counter {
    margin-top: 5px;
}
  
  .contact-form button {
    align-self: flex-end; /* Alinea el botón a la izquierda */
    padding: 1rem 2rem;
    background-color: var(--bg-primary);
    color: var(--primary);
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 5px;
  }
  
  .contact-form button:hover {
    background-color: var(--bg-primary-active);
  }
  
  /* Datos de contacto alineados a la derecha */
  .contact-info {
    flex: 1; /* Toma espacio disponible */
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
/* Contenedor del mapa con título centrado */
.map-container {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
  }
  
  /* Estilo para el mapa */
  .map {
    display: inline-block; /* Asegura que el mapa se ajuste al tamaño del contenedor */
    width: 100%;
  }
  
  .map iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
  
  /* Estilo para el título del mapa */
  .map-title {
    margin-bottom: 1rem;
    font-size: 2rem; /* Ajusta según el tamaño deseado */
    font-weight: 700;
  }
  
  /* Ajustes para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-info,
    .contact-form {
      width: 100%;
    }
  }
  