/* Sección principal que contiene la imagen y el formulario */
.recovery-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0;
  }
  
  /* Contenedor principal */
  .recovery-container {
    background-color: var(--bg-secondary);
    padding: 3rem;
    max-width: 60rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recovery-container h2 {
    margin-bottom: 2rem;
  }
  
  .recovery-container p {
    margin-bottom: 2.5rem;
  }
  
  /* Estilos del formulario */
  .recovery-form .form-group {
    margin-bottom: 2rem;
  }
  
  .recovery-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .recovery-form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Botón */
  .recovery-form button {
    margin-top: 2rem;
    width: 100%;
  }
  
  /* Estilos para la imagen */
  .recovery-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .recovery-options {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link {
    text-underline-offset: .4rem;
    color: #8072e6;
    text-decoration: underline;
    font-weight: 700;
  }
  
  
  @media screen and (max-width: 768px) {
    .recovery-section {
      flex-direction: column;
    }
  
    .recovery-image {
      margin-bottom: 2rem;
    }
  
    .recovery-container {
      width: 100%;
    }
  }
  