:root {
  --bg-primary: #2d2f31;
  --bg-primary-color: 45, 47, 49;
  --primary: #fff;
  --bg-secondary: #fff;
  --secondary: #2d2f31;
  --bg-primary-active: #3e4143;
  --bg-secondary-active: rgba(23, 57, 83, 0.12);
  --ghost: #5022c3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 65%;
  }
}

@media screen and (min-width: 64rem) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 90rem) {
  html {
    font-size: 75%;
  }
}

body {
  font-size: 1.6rem;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

hr {
  border: 0.5px solid rgba(var(--bg-primary-color), 0.2);
  width: 100%;
}

/* Page container styles */

.page-container {
  margin: 0 auto;
  max-width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 2.6rem 0;
  flex: 1 1 0;
}

@media screen and (min-width: 48rem) {
  .page-container {
    max-width: 75vw;
  }
}

/* End of page container styles */

/* Temporal style for redirect in forms */

form button[type="submit"] a {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* End of temporal style */

/* Button styles */
.btn {
  position: relative;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  min-width: 8rem;
  padding: 0 1.2rem;
  justify-content: center;
  vertical-align: bottom;
  white-space: nowrap;
  border: none;
}

.btn--sm {
  height: 3.4rem;
}

.btn--md {
  height: 4rem;
}

.btn--lg {
  height: 4.8rem;
}

.btn--primary {
  color: var(--primary);
  background-color: var(--bg-primary);
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--bg-primary-active);
}

.btn--secondary {
  color: var(--secondary);
  background-color: var(--bg-secondary);
  border: 1px solid var(--secondary);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--bg-secondary-active);
}

.btn--danger {
  color: var(--primary);
  background-color: #dc3545;
}

.btn--ghost {
  color: var(--bg-primary);
  background-color: transparent;
  min-width: auto;
  padding: 0;
}

.btn--ghost:active,
.btn--ghost:hover {
  color: var(--ghost);
}

.btn--round {
  border-radius: 9999px;
  min-width: 4rem;
}

.btn--icon {
  min-width: auto;
}

.btn--icon-round {
  border-radius: 50%;
}

.btn--icon-lg {
  padding: 0 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
}

.btn--icon-md {
  padding: 0 1rem;
  width: 4rem;
  height: 4rem;
}

.btn--icon-sm {
  padding: 0 0.6rem;
  width: 3.4rem;
  height: 3.4rem;
}

.btn--icon-xs {
  padding: 0 0.3rem;
  width: 3rem;
  height: 3rem;
}
/* End button styles */

/* Icon styles */
.icon {
  fill: currentColor;
  display: inline-block;
  flex-shrink: 0;
}
.icon--lg {
  width: 3.2rem;
  height: 3.2rem;
}

.icon--md {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--sm {
  width: 2rem;
  height: 2rem;
}
/* End icon styles */

/* Heading styles */
.heading {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.heading--serif {
  font-family: SuisseWorks, Georgia, Times, "Times New Roman", serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.35;
  letter-spacing: -0.0095rem;
}

.heading--xxxl {
  font-size: 4rem;
}

.heading--xxl {
  font-size: 3.2rem;
}

.heading--xl {
  font-size: 2.4rem;
}

.heading--lg {
  font-size: 1.9rem;
}

.heading--md {
  font-size: 1.6rem;
}

.heading--sm {
  font-size: 1.4rem;
}

.heading--xs {
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

/* End of heading styles */

/* Text styles */
.text {
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont,
    Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.4;
}

.text--xl {
  font-size: 2.4rem;
}

.text--lg {
  font-size: 1.9rem;
}

.text--md {
  font-size: 1.6rem;
}

.text--sm {
  font-size: 1.4rem;
}

.text--xs {
  font-size: 1.2rem;
}

.text--primary {
  color: var(--primary);
}

.text--secondary {
  color: var(--secondary);
}

/* End of text styles */

/* Carousel styles */
.carousel,
.carousel .carousel__slide-image-container {
  position: relative;
}

.carousel__slide-image {
  width: 100%;
  object-fit: contain;
  object-position: initial;
}

.carousel__slide-image-steps {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}

.carousel__slide-image-step {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.8s ease;
}

.carousel__slide-image-step:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.3);
}

.carousel__slide-image-step.js--active {
  background: white;
  transform: scale(1.3);
}

.carousel .carousel__pager-button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.carousel .carousel__pager-button:first-of-type {
  left: 1.6rem;
}

.carousel .carousel__pager-button:last-of-type {
  right: 1.6rem;
}

.carousel .slide-content-box__buttons-container {
  margin-top: 1.6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem 1.6rem;
  gap: 0.8rem;
}

@media screen and (min-width: 64rem) {
  .carousel .slide-content-box__buttons-container {
    flex-direction: row;
    padding: 0;
    gap: 1.6rem;
  }
}

/* End carousel styles */

/* Cards styles */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

@media screen and (min-width: 48rem) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* End cards styles */

/* Img Styles */

.img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

.img--round {
  border-radius: 50%;
  object-fit: cover;
}

/* End of img styles */

/* Card Styles */

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.card .card__img-container {
  position: relative;
}

/* End card styles */

/* Course slider styles */

.course-slider.cards .card {
  flex: 0 0 90%;
  min-width: 0;
}

@media screen and (min-width: 48rem) {
  .course-slider.cards .card {
    flex: 0 0 40%;
  }
}

@media screen and (min-width: 64rem) {
  .course-slider.cards .card {
    flex: 0 0 31%;
  }
}

/* End of course slider styles */

/* Course card styles */

.card.card--course .card__img-container .course-price {
  position: absolute;
  bottom: 15%;
  right: 0;
}

.card.card--course .card__img-container .course-mode {
  position: absolute;
  top: 5%;
  left: 0;
}

.card.card--course .course-content {
  display: flex;
  gap: 1rem;
}

.card.card--course .course-content .course-content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
  min-width: 0;
  flex: 1 1 0;
}

.card.card--course .course-content .course-content__details > h2 {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

/* End of course card styles */

/* Tag Styles */

.tag {
  background-color: var(--bg-primary);
  color: var(--primary);
  padding: 0.2rem 1rem;
}

.tag.tag--warning {
  background-color: #ffa500;
}

.tag.tag--presential {
  background-color: #ad7306;
}

.tag.tag--online {
  background-color: #8a2be2;
}

/* End of tag styles */

/* Badge styles */

.badge {
  background-color: var(--bg-primary);
  color: var(--primary);
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
}

/* End of badge styles */

/* Section Styles */

.section > h1,
.section > h2 {
  margin-bottom: 1.6rem;
  text-align: center;
}

/* End of sections tyles */

/* Header styles */

.header {
  position: relative;
}

.header .header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.08);
  flex-wrap: nowrap;
  padding: 1.5rem;
}

.header .header__logo-link {
  font-size: 0;
}

.header .header__main .img.header__logo {
  width: 65px;
}

.header .header__main .header__buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header .header__main .header__buttons .header__user-profile-button.js--hidden {
  display: none;
}

@media screen and (min-width: 64rem) {
  .header .header__main .img.header__logo {
    width: 75px;
  }
}

/* Search bar styles */

.header .header__search-bar-form {
  display: none;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  padding: 0 1rem;
  z-index: 1;
  flex-direction: row;
  align-items: center;
}

.header .header__search-bar-form.js--visible {
  display: flex;
}

.header .header__search-bar-form .header__search-bar-input {
  width: 100%;
  height: 6rem;
  padding: 0 1rem;
  border-radius: 5px;
  border: none;
  flex: 1 1 0;
}

.header .header__search-bar-form .header__search-bar-input:focus {
  outline: none;
}

.header .header__search-button,
.header .header__search-bar-close-btn {
  cursor: pointer;
}

.header .header__search-dropdown {
  display: none;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 12px rgba(0, 0, 0, 0.2);
  top: 6.2rem;
  left: 10%;
  right: 10%;
  background-color: var(--primary);
  padding: 1rem;
  z-index: 1;
  z-index: 10;
  overflow-y: auto;
  max-height: 35vh;
}

.header .header__search-dropdown.js--visible {
  display: block;
}

.header .header__search-dropdown .header__search-dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header
  .header__search-dropdown
  .header__search-dropdown-list
  .header__search-dropdown-item
  .header__search-dropdown-item__course-link {
  width: 100%;
}

.header
  .header__search-dropdown
  .header__search-dropdown-list
  .header__search-dropdown-item
  .header__search-dropdown-item__course-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* End of search bar styles */

/* Shopping cart badge styles */

.header .header__cart-button-container {
  position: relative;
}

.header .header__cart-button-container .fa-cart-shopping {
  cursor: pointer;
}

.header .header__cart-button-container .cart-button__badge {
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  display: none;
}

.header .header__cart-button-container .cart-button__badge.js--visible {
  display: block;
}

/* End of shopping cart badge styles */

/* Vertical Sidebar navbar styles */

.sidebar {
  width: 15rem;
  background-color: var(--bg-secondary);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  padding-top: 2rem;
  border-right: 1px solid rgba(var(--bg-primary-color), 0.2);
  z-index: 1;
  display: none;
}

.header .header__main:has(.header__sidebar-button:hover) ~ .sidebar,
.sidebar:hover,
.sidebar:has(*:hover) {
  display: block;
}

.sidebar .nav-list.login-register-buttons {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(var(--bg-primary-color), 0.2);
}

.sidebar .nav-list.login-register-buttons .nav-item a {
  color: var(--ghost);
}

.nav-item {
  position: relative;
}

.nav-item > a,
.nav-item > span {
  display: block;
  padding: 15px 20px;
  color: var(--secondary);
  font-weight: bold;
  border-bottom: 1px solid rgba(var(--bg-primary-color), 0.2);
}

.nav-item:first-child > a {
  border-top: 1px solid rgba(var(--bg-primary-color), 0.2);
}

.nav-item > a:hover,
.nav-item > span:hover {
  background-color: var(--bg-secondary-active);
}

.sub-menu {
  display: none;
  background-color: #f1f3f5;
}

.nav-item:hover .sub-menu,
.sub-menu:hover,
.sub-menu:has(*:hover) {
  display: block;
}

.sub-menu a {
  padding: 10px 40px;
  display: block;
  color: var(--secondary);
  border-bottom: 1px solid rgba(var(--bg-primary-color), 0.2);
}

.sub-menu a:hover {
  background-color: var(--bg-secondary);
}

/* End of vertical sidebar navbar styles */

/* End of header styles */

/* Footer styles */

.footer {
  background-color: var(--bg-primary);
  color: var(--primary);
  padding: 3rem;
  display: grid;
  grid-template-areas:
    "group group navbar"
    "social social social";
}

.footer .footer__group-data {
  grid-area: group;
}

.footer .footer__group-data .group-data__title {
  margin-bottom: 1rem;
}

.footer .footer__navbar {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  grid-area: navbar;
}

.footer .footer__navbar .footer__navbar-navlist .footer__navbar-navlist-item a {
  color: var(--primary);
}

.footer
  .footer__navbar
  .footer__navbar-navlist
  .footer__navbar-navlist-item
  a:hover {
  text-decoration: underline;
}

.footer
  .footer__navbar
  .footer__navbar-navlist
  .footer__navbar-navlist-item
  .footer__navbar-navlist-item__submenu {
  display: none;
}

.footer
  .footer__navbar
  .footer__navbar-navlist
  .footer__navbar-navlist-item:hover
  .footer__navbar-navlist-item__submenu {
  display: block;
}

.footer
  .footer__navbar
  .footer__navbar-navlist
  .footer__navbar-navlist-item
  .footer__navbar-navlist-item__submenu
  li {
  margin-left: 1.2rem;
}

.footer .footer__social-media {
  grid-area: social;
  justify-self: center;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 2px solid var(--primary);
}

.footer .footer__social-media .social-media__title {
  margin-bottom: 1rem;
}

.footer .footer__social-media .social-media__icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.footer .footer__social-media .social-media__icons a {
  color: var(--primary);
}

@media screen and (min-width: 48rem) {
  .footer {
    grid-template-areas: "group navbar social";
  }

  .footer .footer__social-media {
    justify-self: end;
    border-top: none;
    margin: 0;
    padding: 0;
  }

  .footer .footer__social-media .social-media__icons {
    justify-content: end;
  }
}

/* End of footer styles */

/* Form styles */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form button[type="submit"] {
  margin-top: 1rem;
}

.label {
  display: inline-block;
  margin-top: 1rem;
}

.input {
  border-radius: 0.75rem;
  border: 1px solid rgba(var(--bg-primary-color), 0.8);
  height: 2.5rem;
  padding: 1rem;
  outline: none;
  transition: border 0.5s ease, box-shadow 0.5s ease;
}

.input:disabled {
  border: 1px solid rgba(var(--bg-primary-color), 0.4);
  pointer-events: none;
}

.input:hover,
.input:focus,
.input:focus-visible {
  border-color: var(--bg-primary);
  box-shadow: 0 0 0 0.2rem rgba(var(--bg-primary-color), 0.25);
}

.inline-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.inline-field input {
  flex: 1 1 0;
}

/* End of input syles */

/* UI messages styles */

@keyframes messageFadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
    height: 5rem;
    margin-bottom: 1rem;
    padding: 3rem;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
    height: 5rem;
    margin-bottom: 1rem;
    padding: 3rem;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
    height: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

section.ui-messages {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 10;
}

article.ui-message {
  width: 75vw;
  border-radius: 2rem;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: messageFadeInOut 5s ease-in-out forwards;
  overflow: hidden;
  text-align: center;
}

article.ui-message.ui-message--success {
  background-color: #28a745;
}

article.ui-message.ui-message--error {
  background-color: #dc3545;
}

article.ui-message.ui-message--info {
  background-color: #17a2b8;
}

article.ui-message.ui-message--warn {
  background-color: #ffc107;
}
/* End of UI messages styles */

/* JS classes */

.js--hidden {
  display: none;
}

/* End of JS classes */
